.navbar {
    position: sticky;
    padding: 10px;
    background-color: var(--darkColor);
    color: var(--textColor);
    z-index: 11000;

    .toolbar {
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
        position: relative;
    }
}

.column-nav-list {
    z-index: 1;
    background-color: var(--darkColor);
    font-family: var(--mainFont);
    padding: 5px;
    position: fixed;
    top: 57px;
    right: -1rem;
    width: 15rem;
    transform: translateX(50vh);
    transition: transform .3s ease;
}

.navigation-list {
    width: 100%;
    height: 100rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem 2rem;
    gap: 3rem;
}

.nav-item {
    text-decoration: none;
    color: var(--textColor);
    width: 9rem;
    height: 2rem;
}

.nav-li{
    display: flex;
    text-decoration: none;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.30rem;
}


.column-nav-list-show {
    transform: none;
}