.navbar {
    position: fixed;
    padding: 10px;
    background-color: var(--forestDark);
    z-index: 11000;
    width: 100%;

    .toolbar {
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
        position: relative;
    }
}

.column-nav-list {
    z-index: 1;
    background-color: var(--forestDark);
    font-family: var(--mainFont);
    padding: 5px;
    position: fixed;
    top: 57px;
    right: -1rem;
    width: 19rem;
    transform: translateX(50vh);
    transition: transform .3s ease;
}
.column-nav-list-show {
    transform: none;
}

.navigation-list {
    width: 100%;
    height: 100rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-block: 1rem;
    padding-left: 2rem;
    gap: 3rem;
}

.nav-item {
    text-decoration: none;
    color: var(--white);
    width: 13rem;
    height: 2rem;
}

.nav-li{
    display: flex;
    gap: .8rem;
    display: flex;
    text-decoration: none;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.30rem;
}

.nav-your-account{
    display: flex;
    gap: .4rem;
    align-items: center;
    margin-left: -1.7rem;

    p{
        color: white;
        font-size: 1.2rem;
    }
}


.avatar-container{
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 50%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}
