.settings{
    min-height: 60svh;
    padding-top: 6rem;
    position: relative;
}

.settings-heading{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-left: 1rem;
    font-size: 2rem;
    font-family: var(--sansitaSwashed);
}

.settings-body{
    margin-block: 3rem;
    margin-inline: 1.5rem;
}

.toggle-theme{
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: var(--expletusSans);
    display: flex;
}

.theme-toggle-button{
    margin-left: 10rem;
}

.change-password{
    font-size: 1.2rem;
    font-weight: 500;
    font-family: var(--expletusSans);

    button {
        margin-left: 4rem;
        padding: .5rem .7rem;
        border-radius: 9px;
        border: none;
    }
}


.settings-popup{
    position: absolute;
    z-index: 1;
    top: 7rem;
    left: 4rem;
    height: 25rem;
    width: 20rem;
    border-radius: 10px;
    background-color: white;
}

.settings-popup-title{
    padding-top: .6rem;
    padding-left: .7rem;
    font-size: 1.6rem;
    font-weight: 500;
}

.settings-popup-body{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
}

.settings-popup-question{
    margin-left: -1rem;
    font-size: 1.1rem;
}


.settings-backdrop{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.575);
}