@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AR:wght@100..400&family=Playwrite+BE+VLG:wght@100..400&family=Playwrite+CU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --darkColor: #111111;
    --textColor: #ffff;
    --greybgc: rgba(245, 245, 245, 0.87);
    --subTextColor: #9b9b9b;
    --greenCream: rgb(162, 252, 203);
    --blueCream: rgb(139, 220, 211);
    --greenDarkCream: rgb(122, 240, 175);
    --blueDarkCream: rgb(64, 193, 176);
    --bluegrey: rgba(220, 238, 235, 0.897);
    --titleFont: "Playwrite BE VLG", cursive;
    --mainFont: "Poppins", sans-serif;
    --logoFontWeight: 400;
    --mainFontWeight: 300;
    --max-width: 1200px;
    --min-width: 320px;
    --max-height: 1200px;
    --min-height: 400px;

    --linearGradient1: linear-gradient(34deg, rgba(0, 25, 117, 1) 0%, rgba(3, 144, 87, 1) 84%);
}

body {
    font-family: var(--mainFont);
    max-width: var(--max-width);
    min-width: var(--min-width);
    /* max-height: var(--max-height);
    min-height: var(--min-height); */
    /* margin: 0 auto; */
    overflow: auto;
}